<form class="form-horizontal"> <!--id="settings_plugin_picolcdprogress"-->
        <h3>picoLCD Progress settings</h3>
        <p><strong>If you need help on setting up this plugin, please have a look at <a href="https://github.com/poikilos/OctoPrint-picoLCD-Progress/blob/master/README.md" target="_blank">the documentation on GitHub</a>.</strong></p>
        <hr>
        <!--<p>The current connection status is: <strong data-bind="text: connection_state_str"></strong></p>-->
        <div class="control-group">
                <label class="control-label">{{ _('picoLCD Host (blank for localhost)') }}</label>
                <div class="controls">
                        <input type="text" class="input-block-level" id="settings_plugin_picolcdprogress_lcd_server" data-bind="value: settings.plugins.picolcdprogress.lcd_server" />
                </div>
        </div>
</form>
