###
# This file is only here to make sure that something like
#
#    pip install -e .
#
# works as expected. Usually requirements can be found in setup.py.
# However, in the case of OctoPrint-picoLCD-Progress, a package from GitHub (that is not in PyPI) is necessary:
# See https://pip.pypa.io/en/latest/reference/pip_install/#requirements-file-format
###
# https://github.com/poikilos/pypicolcd/archive/master.zip
# NOTE: Using `dependency_links = [ "git+" + url ]` in setup.py shows a deprecation warning
# (See https://github.com/pypa/pip/issues/4187) and may not work in the future!
-e git+https://github.com/poikilos/pypicolcd.git
.
